<div class="wrapper dots" id="second-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <%= simple_form_for [@second_form], url: subscription_child_no_valid_second_forms_path(@subscription, @child), method: :post do |f| %>

          <h2>Informations complémentaires</h2>
          <hr>

          <div class="col-xs-12">
            <%= f.input :canteen, as: :radio_buttons,
                                  collection: [
                                    [0, 'Pas de cantine'],
                                    [1, 'Par repas (7€)'],
                                    [2, 'Au mois (100€)'],
                                    [3, "À l'année (1000€)"]
                                  ],
                                  label: "Choix du mode de paiement de la cantine",
                                  label_method: :second,
                                  value_method: :first %>
           <div class="canteen btn-group-vertical btn-block">
              <div class="btn-group">
                <button id="c-a" class="btn btn-primary" type="button">Sans cantine</button>
              </div>
              <div class="btn-group">
                <button id="c-b" class="btn btn-primary border" type="button">Par repas (7<span class="currency">€</span>)</button>
              </div>
              <div class="btn-group">
                <button id="c-c" class="btn btn-primary border" type="button">Au mois (100<span class="currency">€</span>)</button>
              </div>
              <div class="btn-group">
                <button id="c-d" class="btn btn-primary border" type="button">À l'année (1000<span class="currency">€</span>)</button>
              </div>
            </div>

            <%= f.input :nursery, as: :radio_buttons,
                                  collection: [
                                    [0, 'Sans garderie'],
                                    [1, 'Au mois'],
                                    [2, "À l'année"]
                                  ],
                                  label: "Choix du mode de paiement de la garderie",
                                  label_method: :second,
                                  value_method: :first %>
            <div class="nursery btn-group-vertical btn-block">
              <div class="btn-group">
                <button id="n-a" class="btn btn-primary" type="button">Sans garderie</button>
              </div>
              <div class="btn-group">
                <button id="n-b" class="btn btn-primary border" type="button">Au mois</button>
              </div>
              <div class="btn-group">
                <button id="n-c" class="btn btn-primary border" type="button">À l'année</button>
              </div>
            </div>

             <%= f.input :workshop, as: :radio_buttons,
                                    collection: [
                                      [0, 'Sans atelier'],
                                      [1, 'Au semestre'],
                                      [2, "À l'année"]
                                    ],
                                    label: "Choix du mode de paiement de l'atelier du mercredi",
                                    label_method: :second,
                                    value_method: :first %>
            <div class="workshop btn-group-vertical btn-block">
              <div class="btn-group">
                <button id="w-a" class="btn btn-primary" type="button">Sans atelier</button>
              </div>
              <div class="btn-group">
                <button id="w-b" class="btn btn-primary border" type="button">Au semestre (1224<span class="currency">€</span>)</button>
              </div>
              <div class="btn-group">
                <button id="w-c" class="btn btn-primary border" type="button">À l'année (2232<span class="currency">€</span>)</button>
              </div>
            </div>

          </div>

          <div class="col-xs-12" style="margin-top: 15px;">
            <%= f.button :submit, "Valider", class: "btn-success btn-block" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'second-form' %>
