<div class="user-wrapper dots" id="dashboard_admin">

  <div id="dashboard_admin_search" class="flex-center-space-between">
    <input class="search" placeholder="Search" />
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="sort btn btn-primary border-right" data-sort="child-name">Nom</button>
      </div>
      <div class="btn-group" role="group">
        <button class="sort btn btn-primary border-right" data-sort="sub-id">Date</button>
      </div>
      <div class="btn-group" role="group">
        <button id="girl" class="btn btn-primary border-right">Fille</button>
      </div>
      <div class="btn-group" role="group">
        <button id="boy" class="btn btn-primary border-right">Garçon</button>
      </div>
      <div class="btn-group" role="group">
        <button id="all" class="btn btn-primary">Tous</button>
      </div>
    </div>
    <!-- <button class="sort btn btn-primary" data-sort="sub-id">Trier par date</button> -->
    <select id="step-select">
      <option value="" selected>Aucun</option>
      <option value="0">Nouvelles demandes</option>
      <option value="1">Valider le rendez-vous</option>
      <option value="2">Attente de réponse</option>
      <option value="3">Créer les comptes</option>
    </select>
  </div>

  <div class="list">
    <% @subscriptions.each do |subscription| %>
      <div class="sub-card" id="sub-<%= subscription.id %>">
        <p class="sub-id hidden"><%= subscription.id %></p>

        <div class="sub-body">

          <div class="sub-date text-center">
            <div class="sub-create">
              <p class="bold">Demande du</p>
              <p><%= subscription.created_at.strftime("%d-%m-%Y") %></p>
            </div>

            <div class="sub-update">
              <p class="bold">Modifiée le</p>
              <p><%= subscription.updated_at.strftime("%d-%m-%Y") %></p>
            </div>
          </div>

          <div class="sub-infos">

            <div class="children">
              <% subscription.child_no_valids.each do |child| %>
                <div class="child">
                  <h3 class="child-name">
                    <%= child.first_name.capitalize %> <%= child.last_name.capitalize %>
                  </h3>
                  <div class="child-details flex-center-space-between">
                    <h4 class="child-birth">
                      <%= child.birth_date.strftime("%d-%m-%Y") %> (<%= child.age %> ans)
                    </h4>
                    <h4 class="sex">
                      <% if child.gender == "Masculin" %>
                        Garçon
                      <% else %>
                        Fille
                      <% end %>
                    </h4>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="parents">
              <% subscription.parent_no_valids.each do |parent| %>
                <div class="parent-card">
                  <div class="parent">
                    <h4><%= parent.role %></h4>
                    <p><%= parent.last_name.capitalize %> <%= parent.first_name.capitalize %></p>
                    <p><%= parent.email %></p>
                    <p><%= parent.mobile %></p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= link_to "", subscription_show_path(subscription), class: 'info-link' %>
        </div>

        <!-- Status button -->
        <div class="sub-actions flex-center-center">

          <% if subscription.status == "Etape 0" %>
            <div class="first-action flex-center-space-around active">
              <p class="sub_status">0</p>
              <%= link_to "Accepter le dossier", rendez_vous_show_path(subscription) %>
            </div>
          <% else %>
            <div class="first-action texture flex-center-space-around">
              <p>Accepter le dossier</p>
            </div>
          <% end %>

          <% if subscription.status == "Etape 1" %>
            <div class="action flex-center-space-around active">
              <p class="sub_status">1</p>
              <%= link_to "Valider le rendez-vous", etape_1_to_2_show_path(subscription) %>
            </div>
          <% else %>
            <div class="action texture flex-center-space-around">
              <p>Valider le rendez-vous</p>
            </div>
          <% end %>

          <% if subscription.status == "Etape 2" %>
            <div class="action flex-center-space-around waiting">
              <p class="sub_status">2</p>
              <p>Attente de réponse</p>
            </div>
          <% else %>
            <div class="action texture flex-center-space-around">
              <p>Attente de réponse</p>
            </div>
          <% end %>

          <% if subscription.status == "Etape 3" %>
            <div class="last-action flex-center-space-around active">
              <p class="sub_status">3</p>
              <%= link_to "Créer les comptes", etape_3_show_path(subscription) %>
            </div>
          <% else %>
            <div class="last-action texture flex-center-space-around">
              <p>Créer les comptes</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <ul class="pagination"></ul>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<%= javascript_pack_tag 'subscriptions_dashboard' %>

