<nav class="navbar-montessori texture">
  <!-- Logo -->
  <%= link_to ecole_path, class: "navbar-montessori-brand" do %>
    <h2>Les petites graines</h2>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-montessori-right">

    <div class="navbar-montessori-links">
      <%= link_to "L'école", ecole_path, id: 'ecole', class: "navbar-montessori-item navbar-montessori-link #{current_class?(ecole_path)}" %>
      <% paths_to_check = [pedagogie_path, maria_montessori_path, pedagogie_montessori_path, ambiance_montessori_path, bibliographie_path] %>
      <%= link_to "Pédagogie", pedagogie_path, id: 'pedagogie', class: "navbar-montessori-item navbar-montessori-link #{is_pedagogie_montessori_secion?(paths_to_check)}"  %>
      <%= link_to "Ambiances", ambiances_path, id: 'ambiances', class: "navbar-montessori-item navbar-montessori-link #{current_class?(ambiances_path)}"  %>
      <%= link_to "Infos pratiques", informations_path, id: 'informations', class: "navbar-montessori-item navbar-montessori-link #{current_class?(informations_path)}"  %>
      <%= link_to "Tarifs", prices_path, id: 'prices', class: "navbar-montessori-item navbar-montessori-link #{current_class?(prices_path)}" %>
      <%= link_to "Contact", contact_path, id: 'contact', class: "navbar-montessori-item navbar-montessori-link #{current_class?(contact_path)}" %>
      <%= link_to new_subscription_path(@subscription), id: 'subsciption-link' do %>
        <button class="btn btn-primary">Inscription</button>
      <% end %>
      <%= link_to new_parent_session_path do %>
        <button class="btn btn-yramirp">Espace parents</button>
      <% end %>
    </div>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-montessori-item dropdown-open">
    <div class="dropdown">
      <div class="dropdown-menu-btn" data-toggle="dropdown">
        <div class="dropdown-menu-btn-icon flex-center-center">
          <%= inline_svg "demi-rond.svg", size: '80px * 40px', class: 'demi-rond-dropdown'%>
          <p>Menu</p>
        </div>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-montessori-dropdown-menu">
        <li>
          <%= link_to "L'école", ecole_path, class: "navbar-montessori-item navbar-montessori-link #{current_class?(ecole_path)}" %>
        </li>
        <li>
          <%= link_to "Pédagogie", pedagogie_path, class: "navbar-montessori-item navbar-montessori-link #{is_pedagogie_montessori_secion?(paths_to_check)}" %>
        </li>
        <li>
          <%= link_to "Ambiances", ambiances_path, class: "navbar-montessori-item navbar-montessori-link #{current_class?(ambiances_path)}" %>
        </li>
        <li>
          <%= link_to "Infos pratiques", informations_path, class: "navbar-montessori-item navbar-montessori-link #{current_class?(informations_path)}" %>
        </li>
        <li>
          <%= link_to "Tarifs", prices_path, class: "navbar-montessori-item navbar-montessori-link #{current_class?(prices_path)}" %>
        </li>
        <li>
          <%= link_to "Contact", contact_path, class: "navbar-montessori-item navbar-montessori-link #{current_class?(contact_path)}" %>
        </li>
        <li>
          <%= link_to new_subscription_path(@subscription) do %>
            <button class="btn btn-primary btn-block">Inscription</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_parent_session_path do %>
            <button class="btn btn-yramirp btn-block">Espace parents</button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
