<div class="wrapper leaf" id="biblio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2>Bibliographie</h2>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/les_etapes_de_l_education.jpg"%>
            <div class="book-overlay">
              <h4>Les étapes de l'éducation</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/l_enfant.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>L'enfant</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/la_decouverte_de_l_enfant.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>La découverte de l'enfant</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/l_education_elementaire.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>L'éducation élémentaire</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/de_l_enfant_a_l_adolescent.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>De l'enfant à l'adolescent</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/eduquer_le_potentiel_humain.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>Éduquer le potentiel humain</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/le_manuel_pratique_de_la_methode_montessori.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>Le manuel pratique de la méthode montessori</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/education_pour_un_nouveau_monde.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>Éducation pour un nouveau monde</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/l_education_et_la_paix.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>L'éducation et la paix</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/l_enfant_dans_la_famille.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>L'enfant dans la famille</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="book-card">
            <%= image_tag "biblio/l_esprit_absorbant_de_l_enfant.jpg"%>
            <div class="book-overlay flex-center-center">
              <h4>L'esprit absorbant de l'enfant</h4>
              <p>éditions</p>
              <p>Desclée de Brouwer</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="flex-center-center">
            <%= link_to pedagogie_path do %>
              <button class="btn btn-primary btn-back">Retour</button>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'biblio' %>

