<div class="wrapper dots" id="ecole-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div id="ecole-welcome" class="flex-center-space-around-column">
          <!-- <div class="text-center" style="width: 100%;"> -->
            <!-- <div class="ecole-img flex-center-center"> -->
            <div class="ecole-title flex-center-center-column">
              <%= inline_svg "Les_enfants_Les_Petites_Graines.svg", size: "90%*70%", class:'img_acceuil'%>
              <h1 class="text-center">Les petites graines</h1>
              <h3 class="text-center">École Montessori bilingue</h3>
              <div class="ecole-subtitle flex-center-center">
                <%= inline_svg "france.svg", size: '40px', class: 'flag'%>
                <%= inline_svg "england.svg", size: '40px', class: 'flag'%>
              </div>
            </div>

            <!-- <div class="ecole-text flex-center-center">
              <p>Offrez à votre enfant un environnement adapté qui stimule l’apprentissage et l’autonomie.</p>
            </div> -->

          <div class="ecole-link flex-center-center">
            <%= link_to new_subscription_path(@subscription) do %>
              <button class="btn btn-primary">Inscription</button>
            <% end %>
          </div>
          <!-- </div> -->
        </div>
        <%#= link_to "dashboard",dashboard_path %>

      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray texture" id="ecole-desc">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2>L'école</h2>

        <p class="text-center">
          L’école Montessori Les Petites Graines est une école primaire privée hors contrat. Elle est située à Montrouge dans les Hauts-de-Seine (92) et accueille les enfants de 2 à 9 ans.  Entièrement rénovée, elle offre un cadre agréable et épuré, spécialement pensé pour être confortable, fonctionnel et adapté à l’âge des enfants.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="wrapper triangles" id="ecole-approche">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2>Approche pédagogique</h2>

        <p class="text-center">
          Notre projet pédagogique se veut pleinement fidèle au système d’éducation Montessori. Nous considérons la pédagogie Montessori comme une réelle opportunité de révéler le véritable potentiel de l’enfant. L’immersion d’un enfant dans un environnement montessorien contribue pour beaucoup au développement harmonieux de sa personnalité.
        </p>

        <div id="accordion-pedagogie">
          <div class="panel">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h4>L’épanouissement de l’enfant</h4>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-pedagogie">
              <div class="card-body">
                <p>
                  Notre priorité est avant tout l’épanouissement de l’enfant. Cela implique d’abord une notion de sécurité affective (en l’absence des parents) relayée par une équipe éducative bienveillante et soucieuse du bien-être de chaque enfant. Une fois qu’il se sent en sécurité, l’enfant pourra apprendre et s’épanouir en confiance.
                  <br>
                  <br>
                  Le Dr Maria Montessori voit l’éducation comme «une aide à la vie». Les conditions environnementales de l’enfant, matérielles, psychologiques, sociales, vont  favoriser son épanouissement et son développement. Elles vont l’aider à s’affirmer, à agir seul, et ainsi développer son autonomie et sa confiance en lui.
                </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4>L'ambiance préparée</h4>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-pedagogie">
              <div class="card-body">
                <p>
                  L’école Montessori Les Petites Graines rassemble les caractéristiques de l’ambiance préparée :
                <ul>
                  <li>
                    • Un jeu de matériel complet référencé par l’AMI pour la Communauté Enfantine (2-3ans) et la Maison des Enfants (3-6 ans)
                  </li>
                  <li>• Le respect du rythme</li>
                  <li>• La liberté et le libre choix (dans un environnement préparé)</li>
                  <li>• Une plage de travail suffisamment longue (2.5h à 3h)</li>
                  <li>• Le mélange des âges</li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4>Le bilinguisme</h4>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-pedagogie">
              <div class="card-body">
                <p>
                  Ecole bilingue français/anglais, chaque ambiance est encadrée à plein temps par une éducatrice francophone et une éducatrice anglophone. Ce fonctionnement permet de familiariser les enfants francophones avec la langue anglaise, mais aussi d’accueillir sereinement  les enfants anglophones, qui cherchent à se familiariser avec la langue française.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray texture" id="ecole-objectifs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2>Objectifs pédagogiques</h2>

        <p class="text-center">
          Les dernières études en Neurosciences appuient la théorie pédagogique du Dr Montessori. Les résultats probants confirment tous les jours les bienfaits de la «méthode» sur l’enfant et affirment que celle-ci permet de développer de manière évidente :
          <ul>
            <li>• La confiance en soi et l’estime de soi</li>
            <li>• L’autonomie et la prise d’initiative</li>
            <li>• L’autodiscipline</li>
            <li>• Le goût d’apprendre, la curiosité et le plaisir du travail accompli</li>
            <li>• Le savoir-être, la tolérance, le sens du service et des responsabilités</li>
            <li>• L’acquisition fluide de savoirs (grâce au respect des périodes sensibles et du rythme)</li>
          </ul>
          <p class="bold text-center">L’éducation Montessori pose les fondements d’une société responsable, humaniste et pacifiste. Portée par ces valeurs, notre école est également centrée sur l’éveil et l’ouverture à la culture.</p>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="wrapper dots" id="ecole-staff">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2>L'équipe pédagogique</h2>
        <h3><i>Une équipe bienveillante</i></h3>

        <p class="text-center">
          Les éducatrices de l’école Montessori bilingue Les Petites Graines sont diplômées AMI (Association Montessori Internationale).
          <br>
          <br>
          Deux éducatrices par ambiance encadrent les enfants, une francophone, une anglophone. Le rôle de l’éducateur Montessori est d’observer de manière fine et régulière chaque enfant afin de détecter la période sensible qu’il traverse et ainsi comprendre ses besoins et ses intérêts pour l’orienter vers l’activité idoine.
        </p>

        <div class="staf-cards-container">

          <div class="staf-card">
            <div class="avatar">
              <%= inline_svg "avatars/one.svg", size: '100px'%>
            </div>
            <!-- <div class="staf-name">
              <h4>Jean Dupont</h4>
            </div> -->
            <div class="staf-role">
              <h5>Éducatrice Montessori</h5>
              <p>Communauté Enfantine</p>
            </div>
          </div>

          <div class="staf-card">
            <div class="avatar">
              <%= inline_svg "avatars/two.svg", size: '100px'%>
            </div>
            <!-- <div class="staf-name">
              <h4>Jean Dupont</h4>
            </div> -->
            <div class="staf-role">
              <h5>Éducatrice Montessori</h5>
              <p>Communauté Enfantine</p>
            </div>
          </div>

          <div class="staf-card">
            <div class="avatar">
              <%= inline_svg "avatars/three.svg", size: '100px'%>
            </div>
            <!-- <div class="staf-name">
              <h4>Jean Dupont</h4>
            </div> -->
            <div class="staf-role">
              <h5>Éducatrice Montessori</h5>
              <p>Maison des Enfants</p>
            </div>
          </div>

          <div class="staf-card">
            <div class="avatar">
              <%= inline_svg "avatars/four.svg", size: '100px'%>
            </div>
            <!-- <div class="staf-name">
              <h4>Jean Dupont</h4>
            </div> -->
            <div class="staf-role">
              <h5>Éducatrice Montessori</h5>
              <p>Maison des Enfants</p>
            </div>
          </div>

          <div class="staf-card">
            <div class="avatar">
              <%= inline_svg "avatars/five.svg", size: '100px'%>
            </div>
            <!-- <div class="staf-name">
              <h4>Jean Dupont</h4>
            </div> -->
            <div class="staf-role">
              <h5>Intendance</h5>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray texture" id="ecole-relation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="pedagogie-relation-title">
          <h2>La relation&nbsp;</h2>
          <h2>Famille - École</h2>
        </div>
        <p class="text-center">
          Dans l’intérêt de l’enfant et du bon fonctionnement de l’école, nous souhaitons instaurer un dialogue constructif et de qualité avec les familles. L’Espace Parents permet de faciliter les échanges d’informations et de visionner photos et vidéos, individuelles ou collectives, de la vie à l’école. Un entretien semestriel est également organisé entre les parents et l’équipe pédagogique.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="wrapper triangles" id="ecole-video">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="text-center">Le maître est l'enfant</h2>

        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M0Qcc9eMz6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <p class="text-center">
          <i>Film d'Alexandre Mourot tourné à l'école Jeanne d’Arc de Roubaix - 2017</i>
        </p>

      </div>
    </div>
  </div>
</div>
