<div class="wrapper dots" id="pedagogie">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="text-center">

          <h1>La pédagogie Montessori</h2>

          <%= link_to maria_montessori_path do %>
            <div class="button-link">
              <h3>Maria Montessori</h3>
              <p>Découvrez sa vie et son parcours</p>
            </div>
          <% end %>

          <%= link_to pedagogie_montessori_path do %>
            <div class="button-link">
              <h3>Les piliers de la pédagogie</h3>
              <p>La pédagogie Montessori expliquée en détails</p>
            </div>
          <% end %>

          <%= link_to materiel_path do %>
            <div class="button-link">
              <h3>Le matériel sensoriel</h3>
              <p>Découvrez les moyens mis en oeuvre dans les salles de classe</p>
            </div>
          <% end %>

          <%= link_to ambiance_montessori_path do %>
            <div class="button-link">
              <h3>L'ambiance Montessori</h3>
              <p>Découvrez ce qui fait une salle de classe Montessori</p>
            </div>
          <% end %>

          <%= link_to bibliographie_path do %>
            <div class="button-link">
              <h3>Bibliographie</h3>
              <p>Livres et ressources</p>
            </div>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>
