<div class="wrapper dots" id="pm-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h1 class="text-center">Les piliers de la pédagogie Montessori</h1>

        <p class="text-center">
          La méthode Montessori est basée sur l’observation de l’enfant et le respect de son développement naturel. L’Esprit Absorbant et les Périodes Sensibles sont des découvertes clé des recherches de Maria Montessori.
        </p>

        <div class="nav flex-no-center" role="tablist" id="pm-tabs">

          <div class="nav-item active">
            <a class="nav-link flex-center-center" data-toggle="tab" href="#pm-fondamentaux1" role="tab">
              <%= inline_svg "demi-rond.svg", size: '64px * 32px', class: 'demi-rond'%>
              <p>1</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link flex-center-center" data-toggle="tab" href="#pm-fondamentaux2" role="tab">
              <%= inline_svg "demi-rond.svg", size: '64px * 32px', class: 'demi-rond'%>
              <p>2</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link flex-center-center" data-toggle="tab" href="#pm-fondamentaux3" role="tab">
              <%= inline_svg "demi-rond.svg", size: '64px * 32px', class: 'demi-rond'%>
              <p>3</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link flex-center-center" data-toggle="tab" href="#pm-fondamentaux4" role="tab">
              <%= inline_svg "demi-rond.svg", size: '64px * 32px', class: 'demi-rond'%>
              <p>4</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link flex-center-center" data-toggle="tab" href="#pm-fondamentaux5" role="tab">
              <%= inline_svg "demi-rond.svg", size: '64px * 32px', class: 'demi-rond'%>
              <p>5</p>
              <div class="tab-extension"></div>
            </a>
          </div>

        </div>

        <div class="background-light-gray tab-content-container pm-principles">

          <!-- Tab panels -->
          <div class="tab-content">

            <!--Panel 1-->
            <div class="tab-pane active" id="pm-fondamentaux1" role="tabpanel">
              <h3>La liberté</h3>
              <p>
                Libre choix des activités, de leur durée et du lieu (table ou tapis)
              </p>
              <p>
                Liberté de communiquer mais à voix basse et sans interrompre ses camarades
              </p>
              <p>
                Liberté de mouvement dans la classe tant que l’ambiance de travail est respectée
              </p>
            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane" id="pm-fondamentaux2" role="tabpanel">
              <h3>Le respect du rythme</h3>
              <p>
                Parce que chaque enfant apprend mieux quand c’est le bon moment pour lui, en manipulant et en répétant des activités qui lui permettent de vivre une expérimentation concrète des concepts qu’il appréhende grâce au matériel.
              </p>
            </div>
            <!--/.Panel 2-->

            <!--Panel 3-->
            <div class="tab-pane" id="pm-fondamentaux3" role="tabpanel">
              <h3>L'auto correction</h3>
              <p>
                On considère que placé dans un environnement qui lui est propice parce que soigneusement préparé et riche d’opportunité d’activités constructives, l’enfant apprend par lui-même en manipulant du matériel pédagogique scientifiquement élaboré. Cela développe  sa capacité à s’auto motiver et s’auto évaluer. Il est essentiel d’inciter l’enfant à se corriger par lui-même et à vivre les erreurs comme des étapes vers la réussite.
              </p>
            </div>
            <!--/.Panel 3-->

            <!-- panel 4  -->
            <div class="tab-pane" id="pm-fondamentaux4" role="tabpanel">
              <h3>Agir sur l'environnement</h3>
              <p>
                Pour favoriser l’épanouissement de l'enfant, Maria Montessori préconisait d'agir sur l'environnement plutôt que directement auprès de l'enfant. Par exemple, agir sur l'ambiance de la classe afin d'avoir une influence plus efficace. Le "message" est alors suggéré plutôt qu'imposé pour mieux passer.
              </p>
            </div>
            <!-- /panel 4 -->

            <!-- panel 5  -->
            <div class="tab-pane" id="pm-fondamentaux5" role="tabpanel">
              <h3>Apprendre par l'expérience</h3>
              <p>
                Les expériences vécues lors des manipulations des matériels pédagogiques sont ludiques, concrètes et apportent une satisfaction à l'enfant.
              </p>
            </div>
            <!-- /panel 5 -->

          </div>
          <!--/.Tab panels -->

        </div>

      </div>
    </div>
  </div>
</div>

<div class="wrapper background-light-gray" id="pm-esprit">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">L’Esprit Absorbant</h2>
        <p class="text-center">
          L’Esprit Absorbant est la construction personnelle de l’enfant en termes d’adaptation à son milieu (familial et social). Maria Montessori compare l’enfant à une éponge qui aspirerait toutes les informations autour de lui, dans l’environnement proche (odeurs, bruits, sons). Elle dit que «l’enfant absorbe le monde qui est autour de lui» et se construit en fonction de ce qui lui est offert dans son environnement. Pour elle, les enfants sont des explorateurs naturels, curieux et intéressés, et qui savent apprendre spontanément de leur environnement. Aussi l’aide éducative est-elle apportée à cet âge grâce au milieu.
          <br>
          <br>
          Dans une école Montessori, l’ambiance est soignée et préparée de façon à nourrir quotidiennement cet esprit absorbant. L'objectif étant de permettre une maximisation du potentiel de l’enfant, grâce en partie à cet environnement adapté et intelligemment structuré. Maria  Montessori  explique que : « la période la plus importante de la vie se situe entre la naissance et six ans et non pas durant les études universitaires. Ainsi, c'est le moment où le plus grand instrument de l'homme, l'intelligence, se forme. Non seulement son intelligence, mais toutes ses capacités psychiques. A aucun autre âge, l'enfant n'a de plus grand besoin d'une aide intelligente, et n'importe quel obstacle qui empêche son travail créatif diminuera la chance qu'il a d'atteindre la perfection ».
        </p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper triangles" id="pm-esprit">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Les Périodes Sensibles</h2>
        <p class="text-center">
          L'une des observations majeures de Maria Montessori, confirmée par les études neuroscientifiques récentes, est l'importance des périodes sensibles du développement, dans les apprentissages du jeune enfant. Pour ces petits êtres en formation, ce sont des périodes momentanées de fascination intense pour l'apprentissage d’acquisitions déterminées comme la marche, le langage, l’ordre, le mouvement, le raffinement des sens, l’écriture, la lecture, le développement social Le développement de l’enfant ne se fait pas de manière régulière mais par à-coups. Une fois cette période passée, la sensibilité cesse et l’occasion d’une conquête naturelle, enthousiaste et sans effort est perdue à jamais.
          <br>
          Ainsi, après un travail d’observation qui permet d’identifier ces « périodes sensibles », l’éducateur peut orienter l’enfant vers le matériel adéquate ou lui laisser la liberté de sélectionner les activités individuelles qui correspondront à ses attraits du moment. Maria Montessori disait : « il est vrai que nous ne pouvons pas former des génies, mais nous pouvons donner à chaque enfant la chance de maximiser son potentiel pour devenir une personne indépendante et équilibrée. »
        </p>

        <div class="flex-center-center">
          <%= link_to pedagogie_path do %>
            <button class="btn btn-primary btn-back">Retour</button>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'tabs' %>
