<div class="wrapper leaf" id="scolar-prices-tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">

        <h2 class="text-center">Frais de scolarité</h2>

        <div class="nav flex-no-center" role="tablist">

          <div class="nav-item active">
            <a class="nav-link desc flex-center-center" data-toggle="tab" href="#tarif-scolarite1" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>2-3 ans</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link projet flex-center-center" data-toggle="tab" href="#tarif-scolarite2" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>3-6 ans<p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link pedago flex-center-center" data-toggle="tab" href="#tarif-scolarite3" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>6-9 ans</p>
              <div class="tab-extension"></div>
            </a>
          </div>

        </div>

        <div class="tab-content-container background-light-gray">
          <div class="row">
            <div class="col-xs-12">

              <!-- Tab panels -->
              <div class="tab-content">

                <!--Panel 1-->
                <div class="tab-pane active text-center school-price-tabs" id="tarif-scolarite1" role="tabpanel">
                  <h3>La Communauté Enfantine</h3>
                  <p>800<span class="currency">€</span> / mois</p>
                  <p>sur 10 mensualités</p>
                  <p>soit 8000<span class="currency">€</span> / an.</p>
                </div>
                <!--/.Panel 1-->

                <!--Panel 2-->
                <div class="tab-pane school-price-tabs text-center" id="tarif-scolarite2" role="tabpanel">
                  <h3>La Maison des Enfants</h3>
                  <p>740<span class="currency">€</span> / mois</p>
                  <p>sur 10 mensualités</p>
                  <p>soit 7400<span class="currency">€</span> / an.</p>
                </div>
                <!--/.Panel 2-->

                <!--Panel 3-->
                <div class="tab-pane school-price-tabs text-center" id="tarif-scolarite3" role="tabpanel">
                  <h3>L’école élémentaire</h3>
                  <p>Ouverture en 2020</p>
                </div>
                <!--/.Panel 3-->
              </div>
              <!--/.Tab panels -->

              <div class="school-price-label text-center">
                <p>
                  Les frais d’inscription s’élèvent à 450<span class="currency">€</span> (seulement la première année). Les frais administratifs s’élèvent à 175<span class="currency">€</span>.
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="background-light-gray">
  <div class="wrapper texture" id="inscription-welcome">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

          <h2 class="text-center"> Modalités de paiement</h2>

          <div class="tarif-modality text-center">
            <p>
              Les frais de scolarité sont payables le 1er de chaque mois sur une durée de 10 mois. Vous recevez une chaque mois une facture dont le règlement peut se faire par chèque ou bien par virement bancaire.
            </p>
            <p>
              Lors de l’inscription, le paiement des frais d’inscription (450<span class="currency">€</span>) et du 1er mois de scolarité vous est demandé. Ces frais sont non remboursables en cas de désistement.
            </p>
            <div class="inline-block">
              <h4>Tarifs dégressifs :</h4>
              <p>-10% pour le 2ème enfant</p>
              <p>et -15% pour le 3ème enfant.</p>
            </div>
            <p>
              Les frais de scolarité n’incluent pas les fournitures et les activités scolaires.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper dots" id="other-prices-tabs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">

        <h2 class="text-center">Les autres tarifs</h2>

        <div class="nav flex-no-center" role="tablist">

          <div class="nav-item active">
            <a class="nav-link desc flex-center-center" data-toggle="tab" href="#tarif1" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>Cantine</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link projet flex-center-center" data-toggle="tab" href="#tarif2" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>Garderie</p>
              <div class="tab-extension"></div>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link pedago flex-center-center" data-toggle="tab" href="#tarif3" role="tab">
              <%= inline_svg "demi-rond.svg", size: '90px * 45px', class: 'demi-rond'%>
              <p>Atelier</p>
              <div class="tab-extension"></div>
            </a>
          </div>

        </div>

        <div class="background-light-gray tab-content-container school-prices">
          <div class="row">
            <div class="col-xs-12">

              <!-- Tab panels -->
              <div class="tab-content">

                <!--Panel 1-->
                <div class="tab-pane active text-center school-price-tabs flex-center-center" id="tarif1" role="tabpanel">
                  <h3>Repas traiteur</h3>
                  <p class="inblock">7<span class="currency">€</span> / repas</p>
                  <p>Forfait 100<span class="currency">€</span> / mois</p>
                  <p>soit 1000<span class="currency">€</span> / an</p>
                </div>
                <!--/.Panel 1-->

                <!--Panel 2-->
                <div class="tab-pane school-price-tabs flex-center-center text-center" id="tarif2" role="tabpanel">
                  <h3>Garderie</h3>
                  <h4>Matin (8h00 à 8h30) :</h4>
                  <p>8<span class="currency">€</span> pour tout enfant</p>
                  <p>arrivant à 8h.</p>
                  <h4 class="margintarif2">Après-midi (16h30 à 17h30) :</h4>
                  <div>
                    <p>8<span class="currency">€</span> pour 1 heure</p>
                    <p>ou 14<span class="currency">€</span> pour 2 heures.</p>
                  </div>
                  <p>Forfait 100<span class="currency">€</span> / mois</p>
                  <p>soit 1000<span class="currency">€</span> / an.</p>
                </div>
                <!--/.Panel 2-->

                <!--Panel 3-->
                <div class="tab-pane school-price-tabs flex-center-center text-center" id="tarif3" role="tabpanel">
                  <h3>Atelier du mercredi</h3>
                  <p>1224<span class="currency">€</span> / semestre</p>
                  <p>ou 2232<span class="currency">€</span> / an.</p>
                </div>
                <!--/.Panel 3-->
              </div>
              <!--/.Tab panels -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'tabs-tarifs' %>
