<div class="wrapper triangles" id="contact-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="text-center">Comment nous trouver ?</h2>

        <div class="text-center">
          <h4>Les petites graines</h4>
          <p>37, Avenue de la Marne</p>
          <p>92120 Montrouge</p>
          <!-- <p>06.37.21.10.94</p> -->
        </div>

      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 482px;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="wrapper dots" id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <h2 class="text-center">Contactez-nous  </h2>

        <%= simple_form_for [@contact], url: contact_new_path, method: :post do |f| %>
          <%= f.input :full_name_parent,label: false, placeholder: 'Nom Prénom' %>
          <%= f.input :phone,label: false, placeholder: 'Votre numéro de téléphone' %>
          <%= f.input :email,label: false, placeholder: 'votre@email.com' %>
          <%= f.input :subject,
            label: false,
            collection: ["Demande d'informations", "Inscription", "Restauration", "Garderie", "Atelier du mercredi", "Autre" ],
            prompt: "Objet"
          %>
          <%= f.input :message,label: false, placeholder: 'Votre message...' %>
          <%= f.button :submit, "Envoyer", class: "btn btn-success btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
