<div class="wrapper">
  <div class="container">
    <div class="text-center">
      <h2>Comment nous trouver ?</h2>
      <p>La petite graine - 37, Avenue de la Marne 92120 MONTROUGE
    06.37.21.10.94 - info@lespetitesgraines.fr</p>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 482px;"
  data-markers="<%= @markers.to_json %>"
></div>
<div class="wrapper ">
  <div class="container">
    <div class="text-center">
      <h2>Contactez-nous  </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= simple_form_for [@contact], url: contact_new_path, method: :post do |f| %>

          <%= f.input :subject,:label => "Objet"%>
          <%= f.input :full_name_parent,:label => "Nom complet des parents" %>
          <%= f.input :child_full_name,:label => "Nom complet de l'enfant" %>
          <%= f.input :child_birth_date,:label => "Année de naissance de votre enfant" %>
          <%= f.input :child_first_lang,:label => "Langue maternelle" %>
          <%= f.input :phone,:label => "Numéro de telephone" %>
          <%= f.input :email,:label => "Adresse email" %>
          <%= f.input :message,:label => "Message"%>
          <%= f.submit :submit, class: "btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
