<div class="wrapper">
  <div class="container">
   <%= simple_form_for [@more_info], url: subscription_more_infos_path(@subscription, @more_info), method: :post do |f| %>
      <fieldset>
        <legend>Information Complémentaire</legend>
          <%= f.input :know_the_school %>
          <%= f.input :start_date  %>
          <%= f.input :child_atmosphere %>
        <div>
          <%= f.submit 'Valider' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
