<div class="wrapper" id="show-subscription">
  <div class="container">
    <div class="row">
      <% @subscription.parent_no_valids.each do |parent| %>
        <div class="col-xs-12 col-md-6 col-xl-4 shadow padding-20 card marginB-20">
          <div class="col-xs-12">
            <h4> <%= parent.role.capitalize %></h4>
            <p><%= parent.last_name.capitalize %> <%= parent.first_name.capitalize %></p>
            <p><%= parent.lang.capitalize %></p>
            <p><%= parent.situation.capitalize %></p>
            <p><%= parent.job.capitalize %></p>
            <p><%= parent.fiscal.capitalize %></p>
            <p><%= parent.address.capitalize %></p>
            <p><%= parent.zip_code.capitalize %> <%= parent.city.capitalize %></p>
            <p><%= parent.phone.capitalize %></p>
            <p><%= parent.mobile.capitalize %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% @subscription.child_no_valids.each do |child| %>
      <div class="col-xs-12 col-md-6 shadow padding-20">
        <div class="col-xs-6">
          <h4><%= child.first_name.capitalize %></h4>
        </div>
        <div class="col-xs-6">
          <p><%= child.last_name.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.birth_date %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.gender.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.nursery.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.montessori_before.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.nationality.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.first_lang.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.snd_lang.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%=child.workshop.capitalize %></p>
        </div>
        <div class="col-xs-12">
          <p><%= child.comment.capitalize %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="subscription-show-more-info">
      <% @subscription.more_infos.each do |more_info| %>
        <p><%= more_info.know_the_school %></p>
        <p><%= more_info.start_date %></p>
        <p><%= more_info.reason_why %></p>
        <p><%= more_info.child_atmosphere %></p>
      <% end %>
    </div>
  </div>
</div>
