<div class="wrapper triangles" id="show-subscription">
  <div class="container">
    <div class="flex-center-space-between ">
      <% @subscription.parent_no_valids.each do |parent| %>
        <div class="padding-50 card">
          <div class="title-role">
            <h4><%= parent.role.capitalize %></h4>
          </div>
          <div class="col-xs-6">
            <p><%= parent.last_name.capitalize %> <%= parent.first_name.capitalize %></p>
            <p><%= parent.lang.capitalize %></p>
            <p><%= parent.situation.capitalize %></p>
            <p><%= parent.job.capitalize %></p>
            <p><%= parent.fiscal.capitalize %></p>
          </div>
          <div class="col-xs-6">
            <p><%= parent.address.capitalize %></p>
            <p><%= parent.zip_code.capitalize %> <%= parent.city.capitalize %></p>
            <p><%= parent.phone.capitalize %></p>
            <div class="flex-center-start">
              <i class="fas fa-mobile"></i>
            <p><%= parent.mobile.capitalize %></p>

            </div>
             <div class="flex-center-start">
              <i class="far fa-envelope"></i>
              <p><%= parent.email.capitalize %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <% @subscription.child_no_valids.each do |child| %>
          <div class="col-xs-12 card padding-50">
            <div class="title-role">
              <h4 ><%= child.first_name.capitalize %> <%= child.last_name.capitalize %></h4>
            </div>
            <div class="col-xs-12">
              <p><%= child.birth_date %></p>
              <p><%= child.gender.capitalize %></p>
              <p><%= child.nationality.capitalize %></p>
              <p><%= child.first_lang.capitalize %></p>
              <p><%= child.snd_lang.capitalize %></p>
              <p><%= child.comment.capitalize %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="subscription-show-more-info">
      <% @subscription.more_infos.each do |more_info| %>
        <p><%= more_info.reason_why %></p>
      <% end %>
    </div>
  </div>
</div>
