<p>
  Chère famille, <br> <br>Afin de valider définitivement l’inscription de <%= @child_no_valid.first_name %>, merci de nous retourner l’ensemble des documents demandés ci-dessous : <br> <br>

  1. Un chèque de 450 € à l'ordre de Les Petites Graines correspondant aux frais d’inscription de la 1ère année <br>

  2. Un chèque de 175 € à l'ordre de Les Petites Graines correspondant aux frais administratifs annuels <br>

  3. <%= @child_no_valid.atmosphere_price %> à l'ordre de Les Petites Graines correspondant au premier mois des frais de scolarité <br>

  4. Un RIB de chacun des deux parents ou le RIB de votre compte commun <br>

  5. Une photocopie du livret de famille <br>

  6. Une photocopie des pages vaccinations du carnet de santé de l'enfant <br>

  7. Le certificat médical signé par les deux parents et tamponné par le médecin. <br>

  8. Une assurance couvrant votre responsabilité civile <br>

  9. 4 photos d’identité de votre enfant <br>

  10. Dernier avis d’imposition. <br>
</p>

  Pour rappel, voici un récapitulatif de vos préférences de paiement : <br> <br>  Frais d'inscription : 450 € <br>
  Frais administratifs : 175 € <br> Frais de scolarité : <%= @child_no_valid.ambiance_price %> <br> Frais de cantine : <%= @child_no_valid.second_form.price_canteen %> <br> Frais pour les ateliers du mercredi : <%=  @child_no_valid.second_form.price_workshop %> <br><br> La Direction <br> Les Petites Graines <br> Ecole Montessori Bilingue
