<div class="wrapper dots" id="dashboard_admin">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div id="dashboard_admin_search">
          <input class="search btn" placeholder="Search" />
          <button class="sort btn btn-primary" data-sort="child-name">Trier par Nom</button>
          <button class="sort btn btn-primary" data-sort="sub-id">Trier par date</button>
          <!-- <button class="sort btn btn-primary" data-sort="sub-id">Trier par date</button> -->
          <select id="step-select">
            <option class="step-0" selected>Aucun</option>
            <option class="step-1">Nouvelles demandes</option>
            <option class="step-2">Valider le rendez-vous</option>
            <option class="step-3">Attente de réponse</option>
            <option class="step-4">Créer les comptes</option>
          </select>
        </div>

        <div class="list">
          <% @subscriptions.each do |subscription| %>

            <div class="sub-card" id="sub-<%= subscription.id %>">

              <div class="sub-body flex-start-space-between">
                <div class="sub-info">

                  <div class="children">
                    <% subscription.child_no_valids.each do |child| %>
                      <div class="child">
                        <h3 class="child-name">
                          <%= child.first_name.capitalize %> <%= child.last_name.capitalize %>
                        </h3>
                        <p>
                          <%= child.birth_date.strftime("%d-%m-%Y") %> (<%= child.age %> ans)
                        </p>
                      </div>
                    <% end %>
                  </div>

                  <div class="parents flex-start-start">
                    <% subscription.parent_no_valids.each do |parent| %>
                      <div class="parent">
                        <h4><%= parent.role %></h4>
                        <p><%= parent.last_name.capitalize %> <%= parent.first_name.capitalize %></p>
                        <p><%= parent.email %></p>
                        <p><%= parent.mobile %></p>
                      </div>
                    <% end %>
                  </div>

                </div>

                <div class="sub-links">

                  <%= link_to subscription_path(subscription) do %>
                    <button class="btn btn-primary">Voir le dossier</button>
                  <% end %>
                  <% if subscription.status == "Etape 0" %>
                    <%= link_to rendez_vous_path(subscription) do %>
                      <p class="sub_status hidden">0</p>
                      <button class="btn btn-success">Accepter le dossier</button>
                    <% end %>
                  <% elsif subscription.status == "Etape 1" %>
                    <%= link_to etape_1_to_2_path(subscription) do %>
                      <p class="sub-status hidden">1</p>
                      <button class="btn btn-success">Valider le rendez-vous</button>
                    <% end %>
                  <% elsif subscription.status == "Etape 2" %>
                    <!-- cette validation se fait lorsque les parents submit le second_form -->
                    <%#= link_to "Go to Etape 3", etape_2_to_3_path(subscription) %>
                    <p class="sub-status hidden">2</p>
                    <button class="btn btn-warning" disabled>Attente de réponse</button>
                    <%# end %>
                  <% else %>
                    <%= link_to etape_3_path(subscription) do %>
                      <p class="sub-status hidden">3</p>
                      <button class="btn btn-success">Créer les comptes</button>
                    <% end %>
                  <% end %>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal<%= subscription.id %>">Refuser et supprimer</button>

                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal<%= subscription.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModal<%= subscription.id %>Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="deleteModal<%= subscription.id %>Label">ATTENTION !</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Vous êtes sur le point de supprimer un dossier d'inscription !</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler et revenir</button>
                          <%= link_to subscription_path(subscription), method: :delete do %>
                            <button class="btn btn-danger btn-delete" data-dismiss="modal" data-card-id="sub-<%= subscription.id %>">Confirmer et supprimer</button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="sub-footer">
                <p class="sub-id hidden"><%= subscription.id %></p>
                <div class="sub-date text-center">
                  <p><p class="bold">Date de la demande :</p> <%= subscription.created_at.strftime("%d-%m-%Y") %></p>
                </div>
              </div>

            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<%= javascript_pack_tag 'admin-index' %>

